# ------------------------------------------------------------------------------
# General
# ------------------------------------------------------------------------------
PROJECT_NAME=Hosting Platform
ENVIRONMENT=development
DEBUG=True

# ------------------------------------------------------------------------------
# Backend
# ------------------------------------------------------------------------------
SECRET_KEY=

# ------------------------------------------------------------------------------
# Database
# ------------------------------------------------------------------------------
POSTGRES_DB=
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=
POSTGRES_PORT=

# ------------------------------------------------------------------------------
# Frontend
# ------------------------------------------------------------------------------
NEXT_PUBLIC_API_URL=
NEXT_PUBLIC_SITE_URL=